<section id="contact" class="sec-pad">
  <div class="container">

    <div class="row g-5 align-items-stretch">

      <!-- PHOTO -->
      <div class="col-lg-5">
        <div class="contact-photo-wrapper">
          <img src="/assets/images/mola_entrance.jpg" alt="Entrée du restaurant Mola" class="contact-photo">
        </div>
      </div>

      <!-- INFOS + HORAIRES -->
      @if (restaurantInfo) {

      <div class="col-lg-7">

        <h4 class="mb-4">
          {{ restaurantInfo.name }}
        </h4>

        <p>
          <i class="bi bi-geo-alt me-2"></i>
          {{ restaurantInfo.address }}
        </p>

        <p>
          <i class="bi bi-telephone me-2"></i>
          {{ restaurantInfo.phone }}
        </p>

        <div class="mt-4 mb-5">

          <a [href]="getPhoneLink()" class="btn btn-primary me-2">
            <i class="bi bi-telephone-fill me-2 call-icon"></i>
            Appeler
          </a>

          <a [href]="restaurantInfo.googleMapsUrl" target="_blank" rel="noopener noreferrer"
            class="btn btn-outline-primary">
            <i class="bi bi-geo-alt me-2"></i>
            Itinéraire
          </a>

        </div>

        <h4 class="mb-3">
          Horaires
        </h4>

        <ul class="timing-list">

          @for (
          day of restaurantInfo.openingDays;
          track day.id
          ) {

          <li>

            <span>
              {{ day.day }}
            </span>

            @if (day.closed) {

            <span>
              Fermé
            </span>

            } @else {

            <span>

              @for (
              period of day.periods;
              track period.id
              ) {
              <span class="period-line">
                @if (period.note) {
                {{ period.note }} :
                }

                {{ period.from.slice(0, 5) }}
                -
                {{ period.to.slice(0, 5) }}
              </span>
              }

            </span>

            }

          </li>

          }

        </ul>

      </div>

      }

    </div>

    <div class="map-wrapper mt-5">
      <iframe src="https://www.google.com/maps?q=45.7527251,5.1400281&z=17&output=embed" width="100%" height="400"
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>

  </div>
</section>