// ================================
// MOLA THEME
// ================================

$background: #11110f;
$surface: #191a17;
$surface-alt: #22231f;

$text: #f5f1e8;
$text-muted: #aaa89f;

$primary: #b6a36b;
$green: #4c5742;